@function compare-lists($start, $end) {
  // combines lists with matching pairs
  $list: zip($start, $end);
  $change-list: ();
  // calculate change value on pairs
  @each $l in $list {
    $change: nth($l,2) - nth($l,1);
    $change-list: join( $change-list, $change, space );
  }
  @return $change-list;
}

@function split-list($list) {

  $list-size: length($list);
  $top: ''; $left: ''; $bottom: ''; $right: '';

  // top/bottom/left/right match
  @if ($list-size == 1) {
    $top: $list;
    $right: $list;
    $bottom: $list;
    $left: $list;
  }
  // top/bottom match, left/right match
  @elseif ($list-size == 2) {
    $top: nth($list,1);
    $bottom: nth($list,1);
    $right: nth($list,2);
    $left: nth($list,2);
  }
  // top/bottom differ, left/right match
  @elseif ($list-size == 3) {
    $top: nth($list,1);
    $right: nth($list,2);
    $left: nth($list,2);
    $bottom: nth($list,3);
  }
  // top/bottom/left/right differ
  @elseif ($list-size == 4) {
    @return $list;
  }
  @else {
    @warn "Your #{list} is too large with #{$list-size} properties";
  }

  @return $top $right $bottom $left;

}
