@function change-value-list($start, $end) {
  // combines lists with matching pairs
  $list: zip($start, $end);
  $change-value-list: ();
  // calculate change value on pairs

  @each $l in $list {
    $change: nth($l, 2) - nth($l, 1);
    $change-value-list: list.join($change-value-list, $change, $separator: comma);
  }

  @return $change-value-list;
}
