@function change-map-list($start-value, $end-value) {
  $different-lengths: length($start-value) != length($end-value);
  $start-list: $start-value;
  $end-list: $end-value;

  @if $different-lengths {
    // Split lists into comparable values
    $start-list: split-list($start-value);
    $end-list: split-list($end-value);
  }

  $change-value-list: change-value-list($start-list, $end-list);
  $full-change-map-list: ();

  @each $start, $change in list.zip($start-list, $change-value-list) {
    $change-map-list: (
      start: $start,
      change: $change,
    );
    $full-change-map-list: list.append($full-change-map-list, $change-map-list, $separator: comma);
  }
  @return $full-change-map-list;
}
