// spreads a property value from min to max across media queries
//   $property:      CSS property to set
//   $start-values:  start value(s) of the property
//   $end-values:    end value(s) of the property
//   $ease:          easing function to use when calculating value
//                   helpful for fine-tuning some widths in the mid-range

@import "helpers/ease";
@import "helpers/modular-scale";

@mixin spread($property, $start-values, $end-values, $ease: linear) {
  @if $start-values == $end-values {
    @warn "You are passing the same values";
  }

  #{$property}: #{$start-values};   // default values

  $total-iterations: length($breakpoints); // Will loop through number of breakpoints
  $iteration: 1;
  $change-values: change-values($start-values, $end-values);
  @each $size, $breakpoint in $breakpoints {
    @if ( $iteration <= $total-iterations) {
      @include media(">=#{$breakpoint}") {
        #{$property}: adjust-values($iteration, $start-values, $change-values, $total-iterations, $ease);
      }
    }
    $iteration: $iteration + 1;
  }
}
