@include test-module('Spread Mixin') {

  @include test('Font Size [mixin]') {
    @include assert('Outputs a scaling font size over media breakpoints') {
      @include output {
        .heading-1 {
          @include spread(font-size, 1rem, 3rem);
        }
      }

      @include expect {
        .heading-1 {
          font-size: 1rem;
        }

        @media (min-width: 320px) {
          .heading-1 {
            font-size: 1.67rem;
          }
        }

        @media (min-width: 768px) {
          .heading-1 {
            font-size: 2.33rem;
          }
        }

        @media (min-width: 1024px) {
          .heading-1 {
            font-size: 3rem;
          }
        }
      }
    }
  }
}
