@include test-module('Spread Mixin') {

  @include test('Padding with mixed values [mixin]') {
    @include assert('Outputs scaling padding values over media breakpoints') {
      @include output {
        @include spread(padding, 15px, 20px 30px 10px);
      }

      @include expect {
        padding: 15px;

        @media (min-width: 320px) {
          padding: 16.67px 20px 13.33px 20px;
        }

        @media (min-width: 768px) {
          padding: 18.33px 25px 11.67px 25px;
        }

        @media (min-width: 1024px) {
          padding: 20px 30px 10px 30px;
        }
      }
    }
  }
}
