// Fixes issue with single value list adding comma to end
@function clean-list($list) {
  @return if(length($list) == 1, nth($list, 1), $list);
}

// pow and sqrt required by ease function
// adapted from https://github.com/at-import/Sassy-math/blob/master/sass/math.scss
@function pow($base, $exponent) {
  $value: $base;

  @if $exponent > 1 {
    @for $i from 2 through $exponent {
      $value: $value * $base;
    }
  }

  @if $exponent < 1 {
    @for $i from 0 through - $exponent {
      $value: $value / $base;
    }
  }

  @return $value;
}
